[Desktop Entry]
Version=1.0
Name=UnitE Core
Comment=Connect to the UnitE P2P Network
Comment[de]=Verbinde mit dem UnitE peer-to-peer Netzwerk
Comment[fr]=UnitE, monnaie virtuelle cryptographique pair à pair
Comment[tr]=UnitE, eşten eşe kriptografik sanal para birimi
Exec=unite-qt %u
Terminal=false
Type=Application
Icon=unite128
MimeType=x-scheme-handler/unite;
Categories=Office;Finance;
StartupWMClass=UnitE-qt
