# This file defines experts on code areas which need special review. It uses the
# builtin GitHub mechanism to automatically add reviewers to pull requests (see
# https://help.github.com/articles/about-codeowners/).
#
# While the file is named CODEOWNERS, we do assume a model of shared ownership
# of the code. So other maintainers, peer reviewers, and contributors are
# encouraged to review and work on all parts of the code.
#
# This file defines mappings of directories and specific files to experts. This
# might not be exhaustive in all cases so please manually add corresponding
# experts to pull requests where needed.

# The Proof-of-Stake consensus protocol is at the core of UnitE. Changes to it
# can affect the whole network so they need special review. The implementation
# consist of the code to run nodes in the different required roles as proposers,
# validators, or general nodes.

# Block proposal, the process of creating new blocks for the blockchain
/src/proposer/ @scravy

# Validator role, which mainly contains finalization, the process of making
# blocks non reversible through Byzantine agreement.
/src/esperanza/ @Gnappuraz

# Shared validation logic run by all nodes
/src/staking/ @scravy @Gnappuraz

# Permissioning system, manages validator whitelist and stores it in the
# blockchain, used for bootstrapping the blockchain
/src/esperanza/admin* @AM5800

# Snapshots, fast syncing of clients through snapshots of the UTXO database
/src/snapshot/ @kostyantyn
