
## <summary>policy for unite</summary>


########################################
## <summary>
##	Transition to unite.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`unite_domtrans',`
	gen_require(`
		type unite_t, unite_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, unite_exec_t, unite_t)
')


########################################
## <summary>
##	Execute unite server in the unite domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`unite_initrc_domtrans',`
	gen_require(`
		type unite_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, unite_initrc_exec_t)
')


########################################
## <summary>
##	Search unite lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`unite_search_lib',`
	gen_require(`
		type unite_var_lib_t;
	')

	allow $1 unite_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read unite lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`unite_read_lib_files',`
	gen_require(`
		type unite_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, unite_var_lib_t, unite_var_lib_t)
')

########################################
## <summary>
##	Manage unite lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`unite_manage_lib_files',`
	gen_require(`
		type unite_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, unite_var_lib_t, unite_var_lib_t)
')

########################################
## <summary>
##	Manage unite lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`unite_manage_lib_dirs',`
	gen_require(`
		type unite_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, unite_var_lib_t, unite_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a unite environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`unite_admin',`
	gen_require(`
		type unite_t;
		type unite_initrc_exec_t;
		type unite_var_lib_t;
	')

	allow $1 unite_t:process { ptrace signal_perms };
	ps_process_pattern($1, unite_t)

	unite_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 unite_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, unite_var_lib_t)

')

