BasedOnStyle: Google

# Google Style Guide asks only for consistency when deciding where to align the
# "&" when using pointers.
DerivePointerAlignment: false
PointerAlignment: Left

KeepEmptyLinesAtTheStartOfBlocks: true
