# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit united.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/unite/unite.conf

[Unit]
Description=UnitE daemon
After=network.target

[Service]
ExecStart=/usr/bin/united -daemon -conf=/etc/unite/unite.conf -pid=/run/united/united.pid
# Creates /run/united owned by unite
RuntimeDirectory=united
User=unite
Type=forking
PIDFile=/run/united/united.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
